<h1>Sign Up</h1>

<form (submit)='onSubmit(); $event.preventDefault()'>
  <div class='form-field'>
    <label for='username'>Username</label>
    <input
      (input)='onChangeUsername($event)'
      id='username'
      name='username'
      type='text'
    />
  </div>

  <div class='form-field'>
    <label for='email'>Email</label>
    <input
      (input)='onChangeEmail($event)'
      id='email'
      name='email'
      type='text'
    />
  </div>

  <div class='form-field'>
    <label for='password'>Password</label>
    <input
      (input)='onChangePassword($event)'
      id='password'
      name='password'
      type='password'
    />
  </div>

  <div class='form-field'>
    <label for='confirmPassword'>Confirm Password</label>
    <input
      (input)='onChangeConfirmPassword($event)'
      id='confirmPassword'
      name='confirmPassword'
      type='password'
    />
  </div>

  <div class='form-field'>
    <button [disabled]='isDisabled()' type='submit'>Sign Up</button>
  </div>
</form>
