<div class='card'>
  <div class='card-header text-center'>
    <h3>Users</h3>
  </div>

  <ul>
    <li *ngFor='let user of page.content'>
      {{ user.username }}
    </li>
  </ul>

  <div class="card-footer text-center">
    <button
      (click)="loadUsers(page.page-1)"
      *ngIf="hasPreviousPage && !isFetching"
      class="previous-page btn btn-outline-secondary btn-sm float-start"
    >
      &lt; Previous
    </button>

    <button
      (click)="loadUsers(page.page+1)"
      *ngIf="hasNextPage && !isFetching"
      class="next-page btn btn-outline-secondary btn-sm float-end"
    >
      Next &gt;
    </button>

    <span
      *ngIf='isFetching'
      class='spinner-border spinner-border-sm'
      role='status'></span>
  </div>
</div>
